<ul>
    <li><a href='/'>Index</a></li>
    <li><a href='/about'>About</a></li>
    <li><a href='/projects'>Projects</a></li>
    <li><a href='/help.html'>Help</a></li>
    <li><a href='/bad'>Bad</a></li>
</ul>