<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Help page</title>
    </head>
    <body>
        {{> head}}
        <p>i like testing stuff, so there is some!</p>
        <h1>{{screamIt title}}</h1>
        <h5>{{screamIt description}}</h5>
        <h2>view count: {{views}}</h2>
        
    </body>
</html>